@use '../utils/mixins' as *;
@use '../utils/media' as *;
@use '../utils/variables' as *;

html {
  scroll-behavior: smooth;
}

@include reduced-motion {
  html {
    scroll-behavior: auto;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black;
  background: $white;

  &.locked {
    padding-right: var(--scrollbar-width);
    overflow: hidden;
  }
}

::selection {
  color: $white;
  background: $accent;
}

.container {
  @include container($with-padding: false);

  &:not(.no-padding) {
    padding-inline: var(--padding);
  }

  &._wide {
    max-width: var(--container-wide);
  }

  &._thin {
    max-width: var(--container-thin);
  }

  &.desktop-only {
    @include desktop-1599 {
      padding-inline: 0;
    }
  }
}
