.footer {
  color: $grey-footer-text;
  background-color: $grey-bg;
}

.footer > :global(.container) {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include min-laptop-1024 {
    min-height: 96px;
  }
}

.navigation,
.contact {
  display: flex;
  align-items: center;
  gap: 48px;
}

.navigation a,
.contact a,
.contact address {
  display: flex;
  align-items: center;
  gap: 8px;
  font-style: normal;
  text-decoration: none;
  white-space: nowrap;
}

.contact {
  gap: 50px;
}

@include tablet-1023 {
  .footer > :global(.container) {
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding-block: 16px;
  }

  .navigation,
  .contact {
    flex-wrap: wrap;
    gap: 16px 28px;
  }
}

@include mobile-767 {
  .footer > :global(.container) {
    padding-block: 24px;
  }

  .contact {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}
